@{
    ViewData["Title"] = "Accueil";
}

<div class="container-fluid">
    <div class="text-center my-5">
        <h1 class="display-4" style="color: rgba(71, 85, 105, 1)">Bienvenue sur Med Manager - GSB</h1>
        <p class="lead" style="color: rgba(71, 85, 105, 1)">Votre solution complète pour la gestion des patients et des ordonnances médicales.</p>
    </div>


    <section class="py-5" style="background-color: rgba(71, 85, 105, 0.9);">
        <div class="container text-center">
            <h3 class="text-dark mb-4">Dashboard</h3>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image=" @Url.Content("~/Images/Dashboard.png")">
                        <img src="@Url.Content("~/Images/Dashboard.png")" alt="Dashboard" class="img-fluid rounded">
                    </a>
                </div>
            </div>
            <p>Consultez un aperçu global de vos patients et ordonnances en un coup d'œil. Suivi facile et rapide.</p>
        </div>
    </section>

    <section class="py-5" style="background-color: rgba(71, 85, 105, 0.6);">
        <div class="container text-center">
            <h3 class="text-dark mb-3"> Gestion des Patients</h3>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image=" @Url.Content("~/Images/Patients.png")">
                        <img src="@Url.Content("~/Images/Patients.png")" alt="Gestion des Patients" class="img-fluid rounded ">
                    </a>
                </div>
            </div>
            <p>Ajoutez, modifiez et suivez les informations de vos patients facilement, tout en assurant une gestion optimale des données.</p>
        </div>
    </section>

    <section class="py-5" style="background-color: rgba(71, 85, 105, 0.9);">
        <div class="container text-center">
            <h3 class="text-dark mb-4"> Création d'Ordonnances</h3>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image=" @Url.Content("~/Images/CreationOrdonnance.png")">
                        <img src="@Url.Content("~/Images/CreationOrdonnance.png")" alt="Création d'Ordonnances" class="img-fluid rounded ">
                    </a>
                </div>
            </div>
            <p>Créez facilement des ordonnances médicales, personnalisez-les pour chaque patient, et gérez les prescriptions rapidement.</p>
        </div>
    </section>

    <section class="py-5" style="background-color: rgba(71, 85, 105, 0.6);">
        <div class="container text-center">
            <h3 class="text-dark mb-4"> Génération de PDF</h3>
            <div class="row justify-content-center">
                <div class="col-md-4 mb-4">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image=" @Url.Content("~/Images/PdfOrdo.png")">
                        <img src="@Url.Content("~/Images/PdfOrdo.png")" alt="Génération de PDF" class="img-fluid rounded ">
                    </a>
                </div>
            </div>
            <p>Générez facilement des ordonnances et prescriptions au format PDF pour une impression rapide et pratique.</p>
        </div>
    </section>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Aperçu de l'image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" alt="Image agrandie" class="img-fluid w-100">
            </div>
        </div>
    </div>
</div>




<script>
    var imageLinks = document.querySelectorAll('a[data-bs-toggle="modal"]');
    imageLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            var imageUrl = event.target.closest('a').getAttribute('data-bs-image');
            document.getElementById('modalImage').src = imageUrl;
        });
    });
</script>


