@model ContreIndicationViewModel

<form asp-action="@(Model.Id == null ? "Ajouter" : "Modifier")" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Type" />
    <div>
        <label asp-for="Nom"></label>
        <input asp-for="Nom" />
    </div>
@*     <div class="form-group row">
        <label asp-for="SelectedMedicamentIds" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="SelectedMedicamentIds"
                    asp-items="@(new MultiSelectList(Model.Medicaments, "MedicamentId", "Nom"))"
                    class="form-control"
                    multiple="multiple"
                    id="Medicaments_CB">
            </select>
        </div>
    </div> *@

    <div class="form-group row">
        @Html.LabelFor(model => model.SelectedMedicamentIds, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.ListBoxFor(model => model.SelectedMedicamentIds,
                     new MultiSelectList(Model.Medicaments, "MedicamentId", "Nom"),
                     new { @class = "form-control", @id = "Medicaments_CB" })
        </div>
    </div>

    
    <button type="submit">
        @(Model.Id == null ? "Ajouter" : "Modifier")
    </button>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Medicaments_CB').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script>
}
