@model (List<Allergie> Allergies, List<Antecedent> Antecedents)

<div class="toast-container position-fixed bottom-0 end-0 p-3">
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="d-flex">
				<div class="toast-body">
					@TempData["SuccessMessage"]
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	}
</div>


<h1>Allergies</h1>
<div class="col-auto">
	<a asp-action="Ajouter" class="btn btn-outline-primary">
		<i class="bi bi-plus-circle"></i> Ajouter une allergie
	</a>
</div>
<input type="text" class="col-4 form-control" id="RechercheEntreeAllergie" placeholder="Rechercher..."
	   value="@ViewData["FiltreActuel"]" />

<table class="table table-bordered table-hover align-middle text-center">
	<thead class="table-primary">
		<tr>
			<th>
				<a class="text-dark" asp-action="Index" asp-route-OrdreTriAllergie="@ViewData["NomAllergieParamTri"]" asp-route-filtreAllergies="@ViewData["FiltreActuelAllergie"]">
					Nom
					@if ((ViewData["TriActuelAllergie"]?.ToString() ?? "") == "nomAllergie_desc")
					{
						<i class="bi bi-arrow-down-short"></i>
					}
					else if ((ViewData["TriActuelAllergie"]?.ToString() ?? "") == "")
					{
						<i class="bi bi-arrow-up-short"></i>
					}
				</a>
			</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody id="AllergieListContainer">
		@foreach (var allergie in Model.Allergies)

		{
			<tr>
				<td>@allergie.Nom</td>
				<td class="text-center">
					<a asp-action="Detail" asp-controller="ContreIndications" asp-route-id="@allergie.AllergieId" asp-route-type="Allergie"
					   class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Détails de l'allergie">
						<i class="bi bi-eye"></i>
					</a>

					<a asp-action="Modifier" asp-controller="ContreIndications" asp-route-id="@allergie.AllergieId" asp-route-type="Allergie"
					   class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modifier l'allergie">
						<i class="bi bi-pen"></i>
					</a>

					<a href="#" data-bs-toggle="modal" data-bs-target="#Modal-@allergie.AllergieId">
						<i class="bi bi-trash btn btn-outline-secondary btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer l'allergie"></i>
					</a>

					<div class="modal fade" id="Modal-@allergie.AllergieId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Suppression allergie</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									Confirmez-vous l'allergie : <strong>@allergie.Nom</strong> ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									<a asp-action="Supprimer"
									   asp-controller="ContreIndications"
									   asp-route-id="@allergie.AllergieId"
									   asp-route-type="Allergie"
									   class="btn btn-danger">
										Confirmer
									</a>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>


<h1>Antécédents</h1>
<input type="text" class="col-4 form-control" id="RechercheEntreeAntecedent" placeholder="Rechercher..."
	   value="@ViewData["FiltreActuel"]" />

<table class="table table-bordered table-hover align-middle text-center">
	<thead class="table-primary">
		<tr>
			<th>
				<a class="text-dark" asp-action="Index" asp-route-OrdreTriAntecedent="@ViewData["NomAntecedentParamTri"]" asp-route-filtreAntecedents="@ViewData["FiltreActuelAntecedent"]">
					Nom
					@if ((ViewData["TriActuelAntecedent"]?.ToString() ?? "") == "nomAntecedent_desc")
					{
						<i class="bi bi-arrow-down-short"></i>
					}
					else if ((ViewData["TriActuelAntecedent"]?.ToString() ?? "") == "")
					{
						<i class="bi bi-arrow-up-short"></i>
					}
				</a>
			</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody id="AntecedentListContainer">
		@foreach (var antecedent in Model.Antecedents)

		{
			<tr>
				<td>@antecedent.Nom</td>
				<td>
					<a asp-action="Detail" asp-controller="ContreIndications" asp-route-id="@antecedent.AntecedentId" asp-route-type="Antecedent"
					   class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Détails de l'antécédent">
						<i class="bi bi-eye"></i>
					</a>

					<a asp-action="Modifier" asp-controller="ContreIndications" asp-route-id="@@antecedent.AntecedentId" asp-route-type="Antecedent"
					   class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Modifier l'antécédent">
						<i class="bi bi-pen"></i>
					</a>

					<a href="#" data-bs-toggle="modal" data-bs-target="#Modal-@@antecedent.AntecedentId">
						<i class="bi bi-trash btn btn-outline-secondary btn-sm me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Supprimer l'antécédent"></i>
					</a>

					<div class="modal fade" id="Modal-@antecedent.AntecedentId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Suppression antécédent</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									Confirmez-vous la suppression de l'antécédent : <strong>@antecedent.Nom</strong> ?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
									<a asp-action="Supprimer"
									   asp-controller="ContreIndications"
									   asp-route-id="@antecedent.AntecedentId"
									   asp-route-type="Antecedent"
									   class="btn btn-danger">
										Confirmer
									</a>
								</div>
							</div>
						</div>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="row">
	<div class="col-8">
		<p>
			<a asp-action="Ajouter" asp-route-type="Antecedent" class="btn btn-primary">Ajouter un antécédent</a>
		</p>
	</div>
</div>


<script>

	document.addEventListener('DOMContentLoaded', function () {
		var toastElements = document.querySelectorAll('.toast');
		toastElements.forEach(function (toastElement) {
			var toast = new bootstrap.Toast(toastElement);
			toast.show();
		});
	});

	const RechercheEntreeAllergie = document.getElementById('RechercheEntreeAllergie');
	const RechercheEntreeAntecedent = document.getElementById('RechercheEntreeAntecedent');

	let timeoutId;

	function majListe() {
		const filtreAllergies = encodeURIComponent(RechercheEntreeAllergie.value);
		const filtreAntecedents = encodeURIComponent(RechercheEntreeAntecedent.value);
		const triAllergie = '@ViewData["TriActuelAllergie"]';
		const triAntecedent = '@ViewData["TriActuelAntecedent"]';

		const url = `@Url.Action("Index")?filtreAllergies=${filtreAllergies}&filtreAntecedents=${filtreAntecedents}&OrdreTriAllergie=${triAllergie}&OrdreTriAntecedent=${triAntecedent}`;

		history.pushState(null, '', url);

		fetch(url, {
			headers: { 'X-Requested-With': 'XMLHttpRequest' }
		})
			.then(response => response.text())
			.then(html => {
				const tempDiv = document.createElement('div');
				tempDiv.innerHTML = html;

				document.getElementById('AllergieListContainer').innerHTML = tempDiv.querySelector('#AllergieListContainer').innerHTML;
				document.getElementById('AntecedentListContainer').innerHTML = tempDiv.querySelector('#AntecedentListContainer').innerHTML;
			});
	}

	RechercheEntreeAllergie.addEventListener('input', () => {
		clearTimeout(timeoutId);
		timeoutId = setTimeout(majListe, 500);
	});

	RechercheEntreeAntecedent.addEventListener('input', () => {
		console.log("Je suis dans l'event antécédent")
		clearTimeout(timeoutId);
		timeoutId = setTimeout(majListe, 500);
	});
</script>



