   @model PatientViewModel

@{
    ViewData["Title"] = "Ajouter un patient";
}


<form asp-action="Ajouter" asp-controller="Patient" method="post" enctype="multipart/form-data">
    <div class="form-group" hidden="hidden">
        <input type="hidden" asp-for="@Model.IdMedecin" />
        <input type="hidden" asp-for="patient.MedecinID" value="@Model.IdMedecin" />    
    </div>
    <div class="form-group">
        <label asp-for="patient.Nom"></label>
        <input asp-for="patient.Nom" class="form-control" />
        <span asp-validation-for="patient.Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Prenom"></label>
        <input asp-for="patient.Prenom" class="form-control" />
        <span asp-validation-for="patient.Prenom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.NuméroSécuritéSociale"></label>
        <input asp-for="patient.NuméroSécuritéSociale" class="form-control" />
        <span asp-validation-for="patient.NuméroSécuritéSociale" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="patient.Sexe"></label>
        <select asp-for="patient.Sexe" class="form-control">
            <option value="">Sélectionnez le sexe</option>
            @foreach (var sexe in Enum.GetValues(typeof(Sexe)))
            {
                <option value="@sexe">@sexe</option>
            }
        </select>
        <span asp-validation-for="patient.Sexe" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Taille"></label>
        <input asp-for="patient.Taille" class="form-control" />
        <span asp-validation-for="patient.Taille" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Poids"></label>
        <input asp-for="patient.Poids" class="form-control" />
        <span asp-validation-for="patient.Poids" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.DateNaissance"></label>
        <input asp-for="patient.DateNaissance" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1900-01-01" />
        <span asp-validation-for="patient.DateNaissance" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Adresse"></label>
        <input asp-for="patient.Adresse" class="form-control" />
        <span asp-validation-for="patient.Adresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="patient.Ville"></label>
        <input asp-for="patient.Ville" class="form-control" />
        <span asp-validation-for="patient.Ville" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Photo">Photo</label>
        <input type="file" name="Photo" class="form-control" accept=".jpg,.jpeg,.png" />
        <span asp-validation-for="patient.Photo" class="text-danger"></span>
    </div>
    <p>Antécédents</p>

    <div class="form-group row">
       @*  @Html.LabelFor(model => model.SelectedAntecedentIds, new { @class = "col-sm-2 col-form-label" }) *@
        <div class="col-sm-10">
            @Html.ListBoxFor(model => model.SelectedAntecedentIds,
                     new MultiSelectList(Model.Antecedents, "AntecedentId", "Nom"),
                     new { @class = "form-control", @id = "ComboBoxMultiselectAntecedents" })
        </div>
    </div>

    <p>Allergies</p>
    <div class="form-group row">
        @* @Html.LabelFor(model => model.SelectedAllergieIds, new { @class = "col-sm-2 col-form-label" }) *@
        <div class="col-sm-10">
            @Html.ListBoxFor(model => model.SelectedAllergieIds,
                     new MultiSelectList(Model.Allergies, "AllergieId", "Nom"),
                     new { @class = "form-control", @id = "ComboBoxMultiselectAllergies" })
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer le nouveau patient</button>
</form>
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ComboBoxMultiselectAntecedents').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#ComboBoxMultiselectAllergies').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script>
}


