   @model PatientViewModel

@{
    ViewData["Title"] = $"Modifier le patient : {Model.Nom} {Model.Prenom}";
}


<form asp-action="Editer" asp-controller="Patient" method="post">
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prenom"></label>
        <input asp-for="Prenom" class="form-control" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NuméroSécuritéSociale"></label>
        <input asp-for="NuméroSécuritéSociale" class="form-control" />
        <span asp-validation-for="NuméroSécuritéSociale" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Sexe"></label>
        <select asp-for="Sexe" class="form-control">
            <option value="">Sélectionnez le sexe</option>
            @foreach (var sexe in Enum.GetValues(typeof(Sexe)))
            {
                <option value="@sexe">@sexe</option>
            }
        </select>
        <span asp-validation-for="Sexe" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Taille"></label>
        <input asp-for="Taille" class="form-control" />
        <span asp-validation-for="Taille" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Poids"></label>
        <input asp-for="Poids" class="form-control" />
        <span asp-validation-for="Poids" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateNaissance"></label>
        <input asp-for="DateNaissance" class="form-control" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1900-01-01" />
        <span asp-validation-for="DateNaissance" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adresse"></label>
        <input asp-for="Adresse" class="form-control" />
        <span asp-validation-for="Adresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Ville"></label>
        <input asp-for="Ville" class="form-control" />
        <span asp-validation-for="Ville" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Photo">Photo</label>
        <input type="file" name="Photo" class="form-control" accept=".jpg,.jpeg,.png" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <h4>Antécédents</h4>
    <div class="form-group">
        @foreach (var antecedent in Model.Antecedents)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="SelectedAntecedentIds" value="@antecedent.AntecedentId"
                @(Model.SelectedAntecedentIds != null && Model.SelectedAntecedentIds.Contains(antecedent.AntecedentId) ? "checked" : "") />
                <label class="form-check-label">@antecedent.Nom</label>
            </div>
        }
    </div>

    <h4>Allergies</h4>
    <div class="form-group">
        @foreach (var allergie in Model.Allergies)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="SelectedAllergieIds" value="@allergie.AllergieId"
                @(Model.SelectedAllergieIds != null && Model.SelectedAllergieIds.Contains(allergie.AllergieId) ? "checked" : "") />
                <label class="form-check-label">@allergie.Nom</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
</form>
<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

