@model IndexPatientViewModel
@{
	ViewData["Title"] = "Mes Patients";
}

<div class="text-center">
	<div>
		<a asp-action="Ajouter" asp-controller="Patient" class="btn btn-primary">Créer un patient</a>
	</div>

	<form asp-action="Index" method="get" class="mt-3">
		<div class="input-group mb-3">
			<input type="text" name="Filtre" class="form-control" placeholder="Rechercher par nom ou prénom" value="@ViewData["FiltreActuel"]" />
			<button class="btn btn-outline-primary" type="submit">Rechercher</button>
		</div>
	</form>

	<div class="row mt-3">
		@foreach (var p in Model.Patients)
		{
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="row">
						<img class="card-img-top fixed-dimension" src="@Url.Action("ObtenirPhoto", "Patient", new { id = p.PatientId })" alt="Photo du patient">
					</div>

					<div class="card-body">
						<h5 class="card-title">@p.Nom @p.Prenom</h5>
						<p class="card-text">Âge : @(@p.DateNaissance.HasValue ? (DateTime.Now.Year - p.DateNaissance.Value.Year) : "N/A") ans</p>
						<a asp-action="Detail" asp-controller="Patient" asp-route-id="@p.PatientId">
							<i class="bi bi-eye"></i>
						</a>
						<a asp-action="Editer" asp-controller="Patient" asp-route-id="@p.PatientId">
							<i class="bi bi-pencil"></i>
						</a>
						<a asp-action="Supprimer" asp-controller="Patient" asp-route-id="@p.PatientId" onclick="return confirm('Êtes-vous sûr de vouloir supprimer @p.Nom, @p.Prenom ?');">
							<i class="bi bi-trash"></i>
						</a>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="d-flex justify-content-center">
		@Html.PagedListPager(Model.Patients, page => Url.Action("Index", new { page }))
	</div>
</div>
