@model OrdonnanceViewModel

<form asp-action="@(Model.OrdonnanceId == null ? "Ajouter" : "Editer")" method="post">
    <input type="hidden" asp-for="OrdonnanceId" />
    <div>
        <label asp-for="PatientId"></label>
        <select asp-for="PatientId" class="form-control">
            <option value="">Sélectionnez le patient</option>
            @foreach (var p in Model.patients)
            {
                <option value="@p.PatientId">@p.NomComplet</option>
            }
        </select>
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="DateDebut"></label>
        <input asp-for="DateDebut" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="dateDebut" />
        <span asp-validation-for="DateDebut" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateFin"></label>
        <input asp-for="DateFin" class="form-control" type="date" id="dateFin" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DateFin" class="text-danger"></span>
    </div>


    <div class="form-group row">
        <label asp-for="MedicamentIdSelectionnes" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="MedicamentIdSelectionnes" multiple="multiple" class="form-control" id="Medicaments_CB">
                @foreach (var medicament in Model.Medicaments)
                {
                    <option value="@medicament.MedicamentId">@medicament.Nom</option>
                }
            </select>
            <span asp-validation-for="MedicamentIdSelectionnes" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="InfoSupplementaire"></label>
        <textarea asp-for="InfoSupplementaire" class="form-control"></textarea>
        <span asp-validation-for="InfoSupplementaire" class="text-danger"></span>
    </div>

    <button type="submit">
        @(Model.OrdonnanceId == null ? "Ajouter" : "Modifier")
    </button>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Medicaments_CB').multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script>

    <script>
        const dateDebut = document.getElementById("dateDebut");
        const dateFin = document.getElementById("dateFin");

        dateDebut.addEventListener("change", function () {
            dateFin.min = dateDebut.value;
        });
    </script>
}
