@model OrdonnanceViewModel
@{
    ViewData["Title"] = Model.OrdonnanceId == null ? "Créer ordonnance" : "Modifier ordonnance";
}

<form asp-action="@(Model.OrdonnanceId == null ? "Ajouter" : "Editer")" method="post">
    <input type="hidden" asp-for="OrdonnanceId" />
    <input type="hidden" asp-for="PatientId" />

    <div> 
        @Model.NomComplet
    </div>


    <div class="form-group">
        <label asp-for="DateDebut"></label>
        <input asp-for="DateDebut" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="dateDebut" />
        <span asp-validation-for="DateDebut" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateFin"></label>
        <input asp-for="DateFin" class="form-control" type="date" id="dateFin" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DateFin" class="text-danger"></span>
    </div>


    <div class="form-group row">
        <div class="col-sm-10">
            <select id="ComboBoxMultiselectMedicaments"
                    name="MedicamentIdSelectionnes"
                    multiple
                    class="tom-select"
                    asp-for="MedicamentIdSelectionnes"
                    asp-items="@(new SelectList(Model.Medicaments, "MedicamentId", "Nom", Model.MedicamentIdSelectionnes))">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="InfoSupplementaire"></label>
        <textarea asp-for="InfoSupplementaire" class="form-control"></textarea>
        <span asp-validation-for="InfoSupplementaire" class="text-danger"></span>
    </div>

    <button type="submit">
        @(Model.OrdonnanceId == null ? "Ajouter" : "Modifier")
    </button>
</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    <script>
        new TomSelect('#ComboBoxMultiselectMedicaments', {
            plugins: ['remove_button'],
            maxOptions: null,
            create: false,
            maxItems: null,
            sortField: { field: "text", direction: "asc" },
            placeholder: "Sélectionner un ou plusieurs médicaments...",
        });
    </script>
    <script>
        const dateDebut = document.getElementById("dateDebut");
        const dateFin = document.getElementById("dateFin");

        dateDebut.addEventListener("change", function () {
            dateFin.min = dateDebut.value;
        });
    </script>
}
