@model Medicament
@{
    ViewData["Title"] = "Détail du Médicament";
}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="mb-0">Détail du Médicament</h2>
        </div>
        <div class="card-body">
            <h4 class="card-title">Informations Générales</h4>
            <hr />
            <p><strong>Nom :</strong> @Model.Nom</p>
            <p><strong>Quantité :</strong> @Model.Quantite</p>
            <p><strong>Posologie :</strong> @Model.Posologie</p>
            <p><strong>Composition :</strong> @Model.Composition</p>
            <p>
                <strong>Allergies :</strong>
                @if (Model.Allergies.Any())

                {
                    @foreach (var a in @Model.Allergies)
                    {
                        <span class=" badge bg-secondary bg-opacity-25 text-dark me-1">@a.Nom  </span>
                    }
                }

                else

                {
                    <span>Aucune</span>
                }
            </p>
            <p>
                <strong>Antécédents :</strong>
                @if (Model.Antecedents.Any())

                {
                    @foreach (var ant in @Model.Antecedents)
                    {
                        <span class=" badge bg-secondary bg-opacity-25 text-dark me-1">@ant.Nom  </span>
                    }
                }

                else

                {
                    <span>Aucun</span>
                }
            </p>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</div>
