@model Medicament
@{
    ViewData["Title"] = "Détail du Médicament";
}
<div class="container mt-4">
    <div class="card">
        <div class="card-header text-center">
            <h2 class="mb-0">Détail du Médicament</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Nom :</strong> @Model.Nom</p>
                    <p><strong>Quantité :</strong> @Model.Quantite</p>
                    <p><strong>Posologie :</strong> @Model.Posologie</p>
                    <p><strong>Composition :</strong> @Model.Composition</p>
                    <p><strong>Catégorie :</strong> @Model.Categorie</p>
                </div>

                <div class="col-md-6">
                    <p><strong>Incompatibilités : </strong></p>
                    <ul>
                        <li><strong>Allergies :</strong></li>
                        @if (Model.Allergies.Any())
                        {
                            @foreach (var a in Model.Allergies)
                            {
                                <li class="badge bg-secondary bg-opacity-25 text-dark me-1">@a.Nom</li>
                            }
                        }
                        else
                        {
                            <li>Aucune</li>
                        }
                    </ul>

                    <ul>
                        <li><strong>Antécédents :</strong></li>
                        @if (Model.Antecedents.Any())
                        {
                            @foreach (var ant in Model.Antecedents)
                            {
                                <li class="badge bg-secondary bg-opacity-25 text-dark me-1">@ant.Nom</li>
                            }
                        }
                        else
                        {
                            <li>Aucun</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 d-flex justify-content-start">
        <a asp-action="Index" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-return-left"> Retour</i>
        </a>
    </div>
</div>
